body {
  box-sizing: border-box;
  background: linear-gradient(90deg, #00ffb7, rgb(85, 41, 175));
}

.calculator-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}
.calculator-grid > button {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
}
.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.two-span {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .preview-output {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .main-output {
  color: white;
  font-size: 2.5rem;
}
